.ebIcon_upArrow { background-image: url('assets/images/ericssonIcons/ArrowUpSmall_black_16px.svg'); }

.ebIcon_upArrow_white { background-image: url('assets/images/ericssonIcons/arrowUpSmall_white_16px.svg'); }

.ebIcon_downArrow { background-image: url('assets/images/ericssonIcons/ArrowDownSmall_black_16px.svg'); }

.ebIcon_downArrow_white { background-image: url('assets/images/ericssonIcons/ArrowDownSmall_white_16px.svg'); }

.ebIcon_leftArrow { background-image: url('assets/images/ericssonIcons/ArrowLeftSmall_black_16px.svg'); }

.ebIcon_leftArrow_white { background-image: url('assets/images/ericssonIcons/ArrowLeftSmall_white_16px.svg'); }

.ebIcon_rightArrow { background-image: url('assets/images/ericssonIcons/ArrowRightSmall_black_16px.svg'); }

.ebIcon_rightArrow_white { background-image: url('assets/images/ericssonIcons/ArrowRightSmall_white_16px.svg'); }

.ebIcon_prevArrow { background-image: url('assets/images/ericssonIcons/ArrowDoubleLeftSmall_black_16px.svg'); }

.ebIcon_nextArrow { background-image: url('assets/images/ericssonIcons/ArrowDoubleRightSmall_black_16px.svg'); }

.ebIcon_upArrow_10px { background-image: url('assets/images/ericssonIcons/ArrowUpSmall_black_10px.svg'); }

.ebIcon_downArrow_10px { background-image: url('assets/images/ericssonIcons/ArrowDownSmall_black_10px.svg'); }

.ebIcon_leftArrow_10px { background-image: url('assets/images/ericssonIcons/ArrowLeftSmall_black_10px.svg'); }

.ebIcon_rightArrow_10px { background-image: url('assets/images/ericssonIcons/ArrowRightSmall_black_10px.svg'); }

.ebIcon_prevArrow_10px { background-image: url('assets/images/ericssonIcons/ArrowDoubleLeftSmall_black_10px.svg'); }

.ebIcon_nextArrow_10px { background-image: url('assets/images/ericssonIcons/ArrowDoubleRightSmall_black_10px.svg'); }

.ebIcon_errorSmall { background-image: url('assets/images/ericssonIcons/errorSmall_red_10px.svg'); }

.ebIcon_tickSmallBlack { background-image: url('assets/images/ericssonIcons/tick_black_10x8px.svg'); }

.ebIcon_tickSmallGreen { background-image: url('assets/images/ericssonIcons/tick_green_10x8px.svg'); }

.ebIcon_upArrowLarge { background-image: url('assets/images/ericssonIcons/ArrowUp_black_16px.svg'); }

.ebIcon_upArrowLarge_white { background-image: url('assets/images/ericssonIcons/ArrowUp_white_16px.svg'); }

.ebIcon_downArrowLarge { background-image: url('assets/images/ericssonIcons/ArrowDown_black_16px.svg'); }

.ebIcon_downArrowLarge_white { background-image: url('assets/images/ericssonIcons/ArrowDown_white_16px.svg'); }

.ebIcon_downArrowLarge_blue { background-image: url('assets/images/ericssonIcons/ArrowDown_blue_16px.svg'); }

.ebIcon_leftArrowLarge { background-image: url('assets/images/ericssonIcons/ArrowLeft_black_16px.svg'); }

.ebIcon_leftArrowLarge_white { background-image: url('assets/images/ericssonIcons/ArrowLeft_white_16px.svg'); }

.ebIcon_rightArrowLarge { background-image: url('assets/images/ericssonIcons/ArrowRight_black_16px.svg'); }

.ebIcon_rightArrowLarge_white { background-image: url('assets/images/ericssonIcons/ArrowRight_white_16px.svg'); }

.ebIcon_circleArrowDown { background-image: url('assets/images/ericssonIcons/circleArrowDown_black_16px.svg'); }

.ebIcon_circleArrowDown_white { background-image: url('assets/images/ericssonIcons/circleArrowDown_white_16px.svg'); }

.ebIcon_circleArrowLeft { background-image: url('assets/images/ericssonIcons/circleArrowLeft_black_16px.svg'); }

.ebIcon_circleArrowLeft_white { background-image: url('assets/images/ericssonIcons/circleArrowLeft_white_16px.svg'); }

.ebIcon_circleArrowRight { background-image: url('assets/images/ericssonIcons/circleArrowRight_black_16px.svg'); }

.ebIcon_circleArrowRight_white { background-image: url('assets/images/ericssonIcons/circleArrowRight_white_16px.svg'); }

.ebIcon_circleArrowUp { background-image: url('assets/images/ericssonIcons/circleArrowUp_black_16px.svg'); }

.ebIcon_circleArrowUp_white { background-image: url('assets/images/ericssonIcons/circleArrowUp_white_16px.svg'); }

.ebIcon_circleCaretDown { background-image: url('assets/images/ericssonIcons/circleCaretDown_black_16px.svg'); }

.ebIcon_circleCaretDown_white { background-image: url('assets/images/ericssonIcons/circleCaretDown_white_16px.svg'); }

.ebIcon_circleCaretLeft { background-image: url('assets/images/ericssonIcons/circleCaretLeft_black_16px.svg'); }

.ebIcon_circleCaretLeft_white { background-image: url('assets/images/ericssonIcons/circleCaretLeft_white_16px.svg'); }

.ebIcon_circleCaretRight { background-image: url('assets/images/ericssonIcons/circleCaretRight_black_16px.svg'); }

.ebIcon_circleCaretRight_white { background-image: url('assets/images/ericssonIcons/circleCaretRight_white_16px.svg'); }

.ebIcon_circleCaretUp { background-image: url('assets/images/ericssonIcons/circleCaretUp_black_16px.svg'); }

.ebIcon_circleCaretUp_white { background-image: url('assets/images/ericssonIcons/circleCaretUp_white_16px.svg'); }

.ebIcon_eLogo { background-image: url('assets/images/ericssonIcons/logo.svg'); }

.ebIcon_comment { background-image: url('assets/images/ericssonIcons/Comment_black_16px.svg'); }

.ebIcon_copy { background-image: url('assets/images/ericssonIcons/copy_black_16px.svg'); }

.ebIcon_copy_white { background-image: url('assets/images/ericssonIcons/copy_white_16px.svg'); }

.ebIcon_cut { background-image: url('assets/images/ericssonIcons/cut_black_16px.svg'); }

.ebIcon_cut_white { background-image: url('assets/images/ericssonIcons/cut_white_16px.svg'); }

.ebIcon_delete { background-image: url('assets/images/ericssonIcons/delete_black_16px.svg'); }

.ebIcon_delete_white { background-image: url('assets/images/ericssonIcons/delete_white_16px.svg'); }

.ebIcon_duplicate { background-image: url('assets/images/ericssonIcons/duplicate_black_16px.svg'); }

.ebIcon_duplicate_white { background-image: url('assets/images/ericssonIcons/duplicate_white_16px.svg'); }

.ebIcon_edit { background-image: url('assets/images/ericssonIcons/edit_black_16px.svg'); }

.ebIcon_editWhite { background-image: url('assets/images/ericssonIcons/edit_white_16px.svg'); }

.ebIcon_newFile { background-image: url('assets/images/ericssonIcons/newFile_black_16px.svg'); }

.ebIcon_newFile_white { background-image: url('assets/images/ericssonIcons/newFile_white_16px.svg'); }

.ebIcon_save { background-image: url('assets/images/ericssonIcons/save_black_16px.svg'); }

.ebIcon_save_white { background-image: url('assets/images/ericssonIcons/save_white_16px.svg'); }

.ebIcon_filter { background-image: url('assets/images/ericssonIcons/filter_black_16px.svg'); }

.ebIcon_filter_white { background-image: url('assets/images/ericssonIcons/filter_white_16px.svg'); }

.ebIcon_folder { background-image: url('assets/images/ericssonIcons/folder_black_16px.svg'); }

.ebIcon_folder_white { background-image: url('assets/images/ericssonIcons/folder_white_16px.svg'); }

.ebIcon_folderClosed { background-image: url('assets/images/ericssonIcons/folderClosed_black_16px.svg'); }

.ebIcon_folderClosed_white { background-image: url('assets/images/ericssonIcons/folder_white_16px.svg'); }

.ebIcon_detach { background-image: url('assets/images/ericssonIcons/detach_black_16px.svg'); }

.ebIcon_import { background-image: url('assets/images/ericssonIcons/import_black_16px.svg'); }

.ebIcon_export { background-image: url('assets/images/ericssonIcons/export_black_16px.svg'); }

.ebIcon_undo { background-image: url('assets/images/ericssonIcons/undo_black_16px.svg'); }

.ebIcon_undo_white { background-image: url('assets/images/ericssonIcons/undo_white_16px.svg'); }

.ebIcon_valid { background-image: url('assets/images/ericssonIcons/valid_icon.svg'); }

.ebIcon_invalid { background-image: url('assets/images/ericssonIcons/invalid_icon.svg'); }

.ebIcon_error { background-image: url('assets/images/ericssonIcons/error_red_16px.svg'); }

.ebIcon_warning { background-image: url('assets/images/ericssonIcons/warning_yellow_16px.svg'); }

.ebIcon_warningOrange { background-image: url('assets/images/ericssonIcons/warning_orange_16px.svg'); }

.ebIcon_warningShield { background-image: url('assets/images/ericssonIcons/warningShield_black_16px.svg'); }

.ebIcon_warning_white { background-image: url('assets/images/ericssonIcons/warning_white_16px.svg'); }

.ebIcon_mail { background-image: url('assets/images/ericssonIcons/mail_black_16px.svg'); }

.ebIcon_mail_white { background-image: url('assets/images/ericssonIcons/mail_white_16px.svg'); }

.ebIcon_mailRead { background-image: url('assets/images/ericssonIcons/mailRead_black_16px.svg'); }

.ebIcon_mailRead_white { background-image: url('assets/images/ericssonIcons/mailRead_white_16px.svg'); }

.ebIcon_lock { background-image: url('assets/images/ericssonIcons/lock_black_16px.svg'); }

.ebIcon_lock_white { background-image: url('assets/images/ericssonIcons/lock_white_16px.svg'); }

.ebIcon_unlock { background-image: url('assets/images/ericssonIcons/unlock_black_16px.svg'); }

.ebIcon_unlock_white { background-image: url('assets/images/ericssonIcons/unlock_white_16px.svg'); }

.ebIcon_logout { background-image: url('assets/images/ericssonIcons/logout_black_16px.svg'); }

.ebIcon_menu { background-image: url('assets/images/ericssonIcons/menu_black_16px.svg'); }

.ebIcon_menu_white { background-image: url('assets/images/ericssonIcons/menu_white_16px.svg'); }

.ebIcon_search { background-image: url('assets/images/ericssonIcons/search_black_16px.svg'); }

.ebIcon_searchWhite { background-image: url('assets/images/ericssonIcons/search_white_16px.svg'); }

.ebIcon_advancedSearch { background-image: url('assets/images/ericssonIcons/advanced_search_black_16px.svg'); }

.ebIcon_advancedSearchWhite { background-image: url('assets/images/ericssonIcons/advanced_search_white_16px.svg'); }

.ebIcon_share { background-image: url('assets/images/ericssonIcons/share_black_16px.svg'); }

.ebIcon_star { background-image: url('assets/images/ericssonIcons/star_black_16px.svg'); }

.ebIcon_star_white { background-image: url('assets/images/ericssonIcons/star_white_16px.svg'); }

.ebIcon_star_yellow { background-image: url('assets/images/ericssonIcons/star_yellow_16px.svg'); }

.ebIcon_starOutline { background-image: url('assets/images/ericssonIcons/star_outline_black_16px.svg'); }

.ebIcon_starOutline_white { background-image: url('assets/images/ericssonIcons/star_outline_white_16px.svg'); }

.ebIcon_starOutline_yellow { background-image: url('assets/images/ericssonIcons/star_outline_yellow_16px.svg'); }

.ebIcon_tick { background-image: url('assets/images/ericssonIcons/tick_green_16px.svg'); }

.ebIcon_tick_black { background-image: url('assets/images/ericssonIcons/tick_16px.svg'); }

.ebIcon_simpleGreenTick { background-image: url('assets/images/ericssonIcons/simple_green_tick.svg'); }

.ebIcon_simpleTick_black { background-image: url('assets/images/ericssonIcons/simple_tick.svg'); }

.ebIcon_download { background-image: url('assets/images/ericssonIcons/download_black_16px.svg'); }

.ebIcon_downloadWhite { background-image: url('assets/images/ericssonIcons/download_white_16px.svg'); }

.ebIcon_documentWhite { background-image: url('assets/images/ericssonIcons/document_white_16px.svg'); }

.ebIcon_expand { background-image: url('assets/images/ericssonIcons/expand_black_16px.svg'); }

.ebIcon_rowCollapsed { background-image: url('assets/images/ericssonIcons/rowCollapsed_black_16px.svg'); }

.ebIcon_rowExpanded { background-image: url('assets/images/ericssonIcons/rowExpanded_black_16px.svg'); }

.ebIcon_rowView { background-image: url('assets/images/ericssonIcons/rowView_black_16px.svg'); }

.ebIcon_externalApp { background-image: url('assets/images/ericssonIcons/externalApp_black_16px.svg'); }

.ebIcon_externalApp_white { background-image: url('assets/images/ericssonIcons/externalApp_white_16px.svg'); }

.ebIcon_fullscreen { background-image: url('assets/images/ericssonIcons/fullscreen_black_16px.svg'); }

.ebIcon_fullscreenMinimize { background-image: url('assets/images/ericssonIcons/fullscreenMinimise_black_16px.svg'); }

.ebIcon_help { background-image: url('assets/images/ericssonIcons/help_black_16px.svg'); }

.ebIcon_info { background-image: url('assets/images/ericssonIcons/information_black_16px.svg'); }

.ebIcon_dialogInfo { background-image: url('assets/images/ericssonIcons/information_blue_16px.svg'); }

.ebIcon_infoMsgIndicator { background-image: url('assets/images/ericssonIcons/infoMsgIndicator_16px.svg'); }

.ebIcon_exitFullscreen { background-image: url('assets/images/ericssonIcons/minimiseFullscreen_black_16px.svg'); }

.ebIcon_refresh { background-image: url('assets/images/ericssonIcons/refresh_black_16px.svg'); }

.ebIcon_refresh_white { background-image: url('assets/images/ericssonIcons/refresh_white_16px.svg'); }

.ebIcon_settings { background-image: url('assets/images/ericssonIcons/settings_black_16px.svg'); }

.ebIcon_settings_white { background-image: url('assets/images/ericssonIcons/settings_white_16px.svg'); }

.ebIcon_user { background-image: url('assets/images/ericssonIcons/user_black_16px.svg'); }

.ebIcon_user_white { background-image: url('assets/images/ericssonIcons/user_white_16px.svg'); }

.ebIcon_close { background-image: url('assets/images/ericssonIcons/X_black_16px.svg'); }

.ebIcon_close_blue { background-image: url('assets/images/ericssonIcons/X_blue_16px.svg'); }

.ebIcon_close_paleBlue { background-image: url('assets/images/ericssonIcons/X_paleBlue_16px.svg'); }

.ebIcon_close_green { background-image: url('assets/images/ericssonIcons/X_green_16px.svg'); }

.ebIcon_close_orange { background-image: url('assets/images/ericssonIcons/X_orange_16px.svg'); }

.ebIcon_close_red { background-image: url('assets/images/ericssonIcons/X_red_16px.svg'); }

.ebIcon_close_yellow { background-image: url('assets/images/ericssonIcons/X_yellow_16px.svg'); }

.ebIcon_minus { background-image: url('assets/images/ericssonIcons/minus_black_16px.svg'); }

.ebIcon_plus { background-image: url('assets/images/ericssonIcons/plus_black_16px.svg'); }

.ebIcon_add { background-image: url('assets/images/ericssonIcons/add_black_16px.svg'); }

.ebIcon_multiSelect { background-image: url('assets/images/ericssonIcons/multiSelect_black_16px.svg'); }

.ebIcon_stop { background-image: url('assets/images/ericssonIcons/stop_black_16px.svg'); }

.ebIcon_pause { background-image: url('assets/images/ericssonIcons/pause_black_16px.svg'); }

.ebIcon_suspend { background-image: url('assets/images/ericssonIcons/suspend_black_16px.svg'); }

.ebIcon_resume { background-image: url('assets/images/ericssonIcons/resume_black_16px.svg'); }

.ebIcon_play { background-image: url('assets/images/ericssonIcons/play_black_16px.svg'); }

.ebIcon_fastForward { background-image: url('assets/images/ericssonIcons/fastForward_black_16px.svg'); }

.ebIcon_fastRewind { background-image: url('assets/images/ericssonIcons/fastRewind_black_16px.svg'); }

.ebIcon_print { background-image: url('assets/images/ericssonIcons/print_black_16px.svg'); }

.ebIcon_print_white { background-image: url('assets/images/ericssonIcons/print_white_16px.svg'); }

//.ebIcon_list_white { background-image: url('assets/images/ericssonIcons/list_white_16px.svg'); }

.ebIcon_calendar { background-image: url('assets/images/ericssonIcons/calendar_black_16px.svg'); }

.ebIcon_calendar_white { background-image: url('assets/images/ericssonIcons/calendar_white_16px.svg'); }

.ebIcon_alarmCleared { background-image: url('assets/images/ericssonIcons/alarmCleared_16px.svg'); }

.ebIcon_alarmCleared_white { background-image: url('assets/images/ericssonIcons/alarmCleared_white_16px.svg'); }

.ebIcon_alarmCritical { background-image: url('assets/images/ericssonIcons/alarmCritical_16px.svg'); }

.ebIcon_alarmCritical_white { background-image: url('assets/images/ericssonIcons/alarmCritical_white_16px.svg'); }

.ebIcon_alarmHeartbeat { background-image: url('assets/images/ericssonIcons/alarmHeartbeat_16px.svg'); }

.ebIcon_alarmIndeterminate { background-image: url('assets/images/ericssonIcons/alarmIndeterminate_16px.svg'); }

.ebIcon_alarmIndeterminate_white { background-image: url('assets/images/ericssonIcons/alarmIndeterminate_white_16px.svg'); }

.ebIcon_alarmMajor { background-image: url('assets/images/ericssonIcons/alarmMajor_16px.svg'); }

.ebIcon_alarmMajor_white { background-image: url('assets/images/ericssonIcons/alarmMajor_white_16px.svg'); }

.ebIcon_alarmMinor { background-image: url('assets/images/ericssonIcons/alarmMinor_16px.svg'); }

.ebIcon_alarmMinor_white { background-image: url('assets/images/ericssonIcons/alarmMinor_white_16px.svg'); }

.ebIcon_alarmWarning { background-image: url('assets/images/ericssonIcons/alarmWarning_16px.svg'); }

.ebIcon_alarmWarning_white { background-image: url('assets/images/ericssonIcons/alarmWarning_white_16px.svg'); }

.ebIcon_alarmOtherGrouping { background-image: url('assets/images/ericssonIcons/alarmOtherGrouping_16px.svg'); }

//.ebIcon_alarmUnacknowledged { background-image: url('assets/images/ericssonIcons/alarmUnacknowledged_black_16px.svg'); }

.ebIcon_alarmUnspecified { background-image: url('assets/images/ericssonIcons/alarmUnspecified_16px.svg'); }

//.ebIcon_acknowledgeAlarm { background-image: url('assets/images/ericssonIcons/acknowledgeAlarm_black_16px.svg'); }

//.ebIcon_clearAlarm { background-image: url('assets/images/ericssonIcons/clearAlarm_black_16px.svg'); }

.ebIcon_bsc { background-image: url('assets/images/ericssonIcons/BSC_black_16px.svg'); }

.ebIcon_bscYellow { background-image: url('assets/images/ericssonIcons/BSC_Yellow_16px.svg'); }

.ebIcon_bscFunction { background-image: url('assets/images/ericssonIcons/BSCFunction_black_16px.svg'); }

.ebIcon_bscFunctionYellow { background-image: url('assets/images/ericssonIcons/BSCFunction_Yellow_16px.svg'); }

.ebIcon_cabinet { background-image: url('assets/images/ericssonIcons/cabinet_black_16px.svg'); }

.ebIcon_cellGray { background-image: url('assets/images/ericssonIcons/cell_gray_16px.svg'); }

.ebIcon_cellGreen { background-image: url('assets/images/ericssonIcons/cell_green_16px.svg'); }

.ebIcon_cellRed { background-image: url('assets/images/ericssonIcons/cell_red_16px.svg'); }

.ebIcon_cellAdjacent { background-image: url('assets/images/ericssonIcons/cellAdjacent_16px.svg'); }

.ebIcon_cellExternal { background-image: url('assets/images/ericssonIcons/cellExternal_16px.svg'); }

.ebIcon_charging { background-image: url('assets/images/ericssonIcons/charging_black_16px.svg'); }

.ebIcon_connected { background-image: url('assets/images/ericssonIcons/connected_black_16px.svg'); }

.ebIcon_disconnected { background-image: url('assets/images/ericssonIcons/disconnected_black_16px.svg'); }

.ebIcon_connectionError { background-image: url('assets/images/ericssonIcons/connectionError_black_16px.svg'); }

.ebIcon_core { background-image: url('assets/images/ericssonIcons/core_black_16px.svg'); }

.ebIcon_coreSubscriber { background-image: url('assets/images/ericssonIcons/coreSubscriber_black_16px.svg'); }

.ebIcon_database { background-image: url('assets/images/ericssonIcons/database_black_16px.svg'); }

.ebIcon_ftpServer { background-image: url('assets/images/ericssonIcons/ftpServer_black_16px.svg'); }

.ebIcon_ftpServerFunction { background-image: url('assets/images/ericssonIcons/ftpServerFunction_black_16px.svg'); }

.ebIcon_gateway { background-image: url('assets/images/ericssonIcons/gateway_black_16px.svg'); }

.ebIcon_gatewayFunction { background-image: url('assets/images/ericssonIcons/gatewayFunction_black_16px.svg'); }

.ebIcon_grabHandle { background-image: url('assets/images/ericssonIcons/grabHandle_black_16px.svg'); }

.ebIcon_managedFunction { background-image: url('assets/images/ericssonIcons/managedFunction_black_16px.svg'); }

.ebIcon_managedGroup { background-image: url('assets/images/ericssonIcons/managedGroup_black_16px.svg'); }

.ebIcon_managementNode { background-image: url('assets/images/ericssonIcons/managementNode_black_16px.svg'); }

.ebIcon_network { background-image: url('assets/images/ericssonIcons/network_black_16px.svg'); }

.ebIcon_networkElement { background-image: url('assets/images/ericssonIcons/networkElement_black_16px.svg'); }

.ebIcon_networkElement_white { background-image: url('assets/images/ericssonIcons/networkElement_white_16px.svg'); }

.ebIcon_rbs { background-image: url('assets/images/ericssonIcons/RBS_black_16px.svg'); }

.ebIcon_rbs_white { background-image: url('assets/images/ericssonIcons/RBS_white_16px.svg'); }

.ebIcon_routeSwitch { background-image: url('assets/images/ericssonIcons/routeSwitch.svg'); }

.ebIcon_rxi { background-image: url('assets/images/ericssonIcons/rxi_black_16px.svg'); }

.ebIcon_switchFunction { background-image: url('assets/images/ericssonIcons/switchFunction_black_16px.svg'); }

.ebIcon_technicianPresent { background-image: url('assets/images/ericssonIcons/technicianPresent_16px.svg'); }

.ebIcon_terminal { background-image: url('assets/images/ericssonIcons/terminal_black_16px.svg'); }

.ebIcon_topology { background-image: url('assets/images/ericssonIcons/topology_black_16px.svg'); }

.ebIcon_access { background-image: url('assets/images/ericssonIcons/access_black_16px.svg'); }

.ebIcon_access_white { background-image: url('assets/images/ericssonIcons/access_white_16px.svg'); }

.ebIcon_accessSettings { background-image: url('assets/images/ericssonIcons/accessSettings_black_16px.svg'); }

.ebIcon_accessSettings_white { background-image: url('assets/images/ericssonIcons/accessSettings_white_16px.svg'); }

.ebIcon_alignCenter { background-image: url('assets/images/ericssonIcons/alignCenter_black_16px.svg'); }

.ebIcon_alignLeft { background-image: url('assets/images/ericssonIcons/alignLeft_black_16px.svg'); }

.ebIcon_alignRight { background-image: url('assets/images/ericssonIcons/alignRight_black_16px.svg'); }

.ebIcon_cli { background-image: url('assets/images/ericssonIcons/CommandLineInterface_black_16px.svg'); }

.ebIcon_cli_white { background-image: url('assets/images/ericssonIcons/CommandLineInterface_white_16px.svg'); }

.ebIcon_grid3x3 { background-image: url('assets/images/ericssonIcons/grid3X3_black_16px.svg'); }

.ebIcon_grid4x4 { background-image: url('assets/images/ericssonIcons/grid4X4_black_16px.svg'); }

.ebIcon_gridView { background-image: url('assets/images/ericssonIcons/gridView_black_16px.svg'); }

.ebIcon_jumpTo { background-image: url('assets/images/ericssonIcons/jumpTo_black_16px.svg'); }

.ebIcon_security { background-image: url('assets/images/ericssonIcons/security_black_16px.svg'); }

.ebIcon_security_white { background-image: url('assets/images/ericssonIcons/security_white_16px.svg'); }

.ebIcon_site { background-image: url('assets/images/ericssonIcons/site_black_16px.svg'); }

.ebIcon_siteManager { background-image: url('assets/images/ericssonIcons/siteManager_black_16px.svg'); }

.ebIcon_tip { background-image: url('assets/images/ericssonIcons/tip_black_16px.svg'); }

.ebIcon_tip_white { background-image: url('assets/images/ericssonIcons/tip_white_16px.svg'); }

.ebIcon_attach { background-image: url('assets/images/ericssonIcons/attach_black_16px.svg'); }

.ebIcon_clock { background-image: url('assets/images/ericssonIcons/clock_black_16px.svg'); }

.ebIcon_clock_white { background-image: url('assets/images/ericssonIcons/clock_white_16px.svg'); }

.ebIcon_windowMaximize { background-image: url('assets/images/ericssonIcons/WindowMaximize_black_16px.svg'); }

.ebIcon_windowMinimize { background-image: url('assets/images/ericssonIcons/WindowMinimize_black_16px.svg'); }

.ebIcon_deprecated { background-image: url('assets/images/ericssonIcons/deprecated_16px.svg'); }

.ebIcon_obsolete { background-image: url('assets/images/ericssonIcons/obsolete_16px.svg'); }

.ebIcon_newStatus_blue { background-image: url('assets/images/ericssonIcons/newStatus_blue_16px.svg'); }

.ebIcon_newStatus_green { background-image: url('assets/images/ericssonIcons/newStatus_green_16px.svg'); }

.ebIcon_upload { background-image: url('assets/images/ericssonIcons/upload_black_16px.svg'); }

.ebIcon_activate { background-image: url('assets/images/ericssonIcons/activate_black_16px.svg'); }

.ebIcon_deactivate { background-image: url('assets/images/ericssonIcons/deactivate_black_16px.svg'); }

.ebIcon_switchBetween { background-image: url('assets/images/ericssonIcons/switchBetween_black_16px.svg'); }

.ebIcon_switchBetween_white { background-image: url('assets/images/ericssonIcons/switchBetween_white_16px.svg'); }

.ebIcon_eye { background-image: url('assets/images/ericssonIcons/eye_black_16px.svg'); }

.ebIcon_eye_white { background-image: url('assets/images/ericssonIcons/eye_white_16px.svg'); }

.ebIcon_eyeLine { background-image: url('assets/images/ericssonIcons/eyeLine_black_16px.svg'); }
