<ecb-modal-dialog [styleClass]="'ecb-inuseofferings'" [open]="confirmDialog == 1" (onClose)="onModalDialogClose()"
    [header]="false" [body]="false" [footer]="false">
    <dialog-body-template>
        <div class="ecb-inUseSharedRateHeader panel-heading">
            <h2> <span l10nTranslate>{{"TEXT_IN_USE"}} </span>
                <span l10nTranslate> {{"TEXT_PI"}}</span>:
                <span *ngIf="loadGridData">{{inUsePIData?.name}}</span>
            </h2>
            <h3 l10nTranslate>{{"TEXT_PI_LIST"}}
                <span> ({{ totalCount }}) </span>
            </h3>
        </div>
        <div *ngIf="inUseConfigError">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 alert alert-danger" role="alert"> 
                    <p>{{inUseConfigError}}</p>
                </div>
            </div>
        </div>
        <div class="ecb-positionRelative">
        <ecb-loader *ngIf="loading" mode="dot" fill="widget" type="widget"></ecb-loader>
        <div id="datatable" class="panel-body ecb-gridInfiniteScroll ecb-inUseSharedRate cb-gridInfiniteScroll" ecb-infinite-scroller [scrollerContext]="'self'" (scrollOnInit)="scrollInitialize($event)" (scrollGetMore)="getMoreData()" (scrollGetLess)="getLessData()">
            <div *ngIf="loadGridData">
            <p-dataTable *ngIf="inUseErrorMessage == '' && !filterInUseErrorMessage" #datatable [value]="inUsePiList" [scrollable]="inUseColumnDef.scrollable" [lazy]="inUseColumnDef.lazy" (onLazyLoad)="loadInUseData($event)" scrollWidth="getDeviceWidth()" sortField={{inUseColumnDef.defaultSortColumn}} sortOrder="{{convertedInUseDefaultSortOrder}}" [immutable]="false">
                <p-column [style]="cols.style" *ngFor="let cols of inUseCols" [field]="cols.field" [header]="cols.key | translate:lang" [sortable]="cols.sortable"
                    filter="cols.filter" required="true">
                    <ng-template pTemplate="filter" let-col *ngIf="cols.field !== 'bundle'">
                        <div>
                            <input type="text" *ngIf="cols.field !== 'bundle' else filterElseBlock" placeholder='{{"TEXT_ENTER_FILTER_CRITERIA"| translate:lang}}'
                                [(ngModel)]="filterInUseFields[cols.field]" pInputText (keyup)="filterDataKeys($event,cols.field,filterInUseFields[cols.field])" class="ecb-filterInput"
                            />
                            <ng-template #elseBlock>
                                <input type="text" class="ecb-filterInput ecb-disabledFliter" [disabled]="true" />
                            </ng-template>
                            <div class="ecb-clearFilterMain">
                                <div class="ecb-clearFilter" *ngIf="isInUseFilterText(cols.field)" (click)="clearInUseFilters(cols.field)">
                                    <em class="fa fa-times-circle-o fa-lg"></em>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-col let-rowData="rowData">
                            <span title="{{col.header | translate:lang}}" l10nTranslate>{{col.header}}</span>
                        </ng-template>
                    <ng-template *ngIf="cols.field == 'bundle'" let-col let-data="rowData" let-i="rowIndex" pTemplate="body">
                        <div class="tooltip ecb-rtlSubscribe">
                            <img *ngIf="data['bundle']" class="ecb-subscribableItemType" src="../../../assets/images/ericssonIcons/Icon_Bundle.svg" alt="Offer Icon">
                            <img *ngIf="!data['bundle']" class="ecb-subscribableItemType" src="../../../assets/images/ericssonIcons/Icon_ProductOffer.svg"
                                alt="Offer Icon">
                            <div class="ebInfoPopup-content ebInfoPopup-content_corner_default tooltiptext">
                                <div class="ebInfoPopup-contentText">
                                    <span *ngIf="data['bundle']" class="ecb-subscribeBundle" l10nTranslate>{{"TEXT_BUNDLE"}}</span>
                                    <span *ngIf="!data['bundle']" class="ecb-subscribePo" l10nTranslate>{{"TEXT_PRODUCT_OFFER"}}</span>
                                </div>
                                <div class="ebInfoPopup-arrowShadow"></div>
                                <div class="ebInfoPopup-arrowBorder"></div>
                            </div>
                        </div>
                    </ng-template>
            
                    <ng-template *ngIf="cols.field == 'itemInstanceName'" let-col let-data="rowData" let-i="rowIndex" pTemplate="body">
                        <span class="ecb-inUseColData">{{inUsePiList[i].itemInstanceDisplayName}}</span>
                    </ng-template>
            
                    <ng-template *ngIf="cols.field == 'itemInstanceDescription'" let-col let-data="rowData" let-i="rowIndex" pTemplate="body">
                        <span class="ecb-inUseColData">{{inUsePiList[i].itemInstanceDescription}}</span>
                    </ng-template>
            
                    <ng-template *ngIf="cols.field == 'offerDisplayName'" let-col let-data="rowData" let-i="rowIndex" pTemplate="body">
                        <span class="ecb-inUseColData">{{inUsePiList[i].offerDisplayName}}</span>
                    </ng-template>
            
                    <ng-template *ngIf="cols.field == 'bundle'" pTemplate="filter" let-col>
                        <ecb-dropdown [options]='offeringsTypesList' [modelValue]='offeringFirstItem' [primaryOption]='offeringFirstItem' (changeItem)="changeOfferingType($event)">
                        </ecb-dropdown>
                    </ng-template>
                </p-column>
            </p-dataTable>
            </div>

            <div *ngIf="getErrorMessageType() !== 0">
                    <div class="ecb-infoStyling">
                            <div class="alert alert-danger ecb-calInfoMessage" role="alert" *ngIf="getErrorMessageType() === 1">
                                <p>{{inUseErrorMessage}}</p>
                            </div>
                            <div  class="ebNotification ebNotification_color_paleBlue ecb-offeringlocations" *ngIf="getErrorMessageType() === 3">
                                <div class="ebNotification-content ecb-infotext">           
                                    <span class="ebNotification-label">
                                        <span l10nTranslate>{{'TEXT_NO_MATCH_FOUND_EDIT_FILTER'}} </span>
                                    </span>
                                </div>
                            </div>
                    </div>
                </div>


        </div>
        </div>
    </dialog-body-template>
</ecb-modal-dialog>
