<div>
    <ngx-aside #PIProperties [showDefaultFooter]="false" [showDefaultHeader]="false" [closeOnEscape]="false" [showOverlay]="false"
    class="ecb-asideContent" [ngClass]="{'ecb-showEditDialog':showCover}">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default ecb-editpanelheight">
        <div class="panel-heading ecb-panelHeading">
          <div class="row">
            <h2 class="col-xs-6 ecb-toggleFloat" l10nTranslate>{{'TEXT_EDIT'}}
              <span l10nTranslate>{{'TEXT_PROPERTIES'}}</span></h2>
            <div class="col-xs-6 ecb-editOverlayLink">
              <button class="ebBtn ecbBtn-margin" [disabled]="!isSaveEnabled" [ngClass]="{'ebBtn-primary': isSaveEnabled}" (click)="savePIProperties(PIProperties)"
                l10nTranslate>{{'TEXT_SAVE'}}</button>
              <button class="ebBtn ebBtn-default" (click)="cancelCoverHandler()" l10nTranslate>{{'TEXT_CANCEL'}}</button>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div *ngIf="httpErrorMessage != undefined" class="alert alert-danger" role="alert" l10nTranslate>
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true" (click)="httpErrorMessage = undefined">×</span><span class="sr-only">Close</span>
            </button>
            <p>{{httpErrorMessage}}</p>
          </div>
          <div *ngIf="isPItemplate" class="ebNotification ebNotification_color_paleBlue ecb-marginbottom">
            <div class="ebNotification-content ecb-infotext">
              <span class="ebNotification-label" l10nTranslate>
                {{'TEXT_PROPERTIES_INFO'}}
              </span>
            </div>
          </div>
          <form form #f="ngForm" [formGroup]="PIPropertiesForm" class="ngForm" (keydown)="OnEnterSavePIProperties(PIProperties, $event)" novalidate>
            <div class="form-group" *ngIf="PIType == 'Usage'">
              <label for="simple-input" class="ebLabel" l10nTranslate>{{'TEXT_PRICEABLE_INSTANCE_ID'}}</label>
              <div class="input-group col-xs-12 col-sm-12">
                <input type="text" class="ebInput" formControlName="itemInstanceId" readonly="readonly">
              </div>
            </div>
            <div class="form-group">
              <label for="simple-input" class="ebLabel" l10nTranslate>{{'TEXT_NAME'}}</label>
              <div class="input-group col-xs-12 col-sm-12">
                <input type="text" class="ebInput" formControlName="itemInstanceName" (keydown)="disableSpace($event)" (focusout)="removeSpace()" readonly="readonly">
              </div>
            </div>
            <div class="form-group">
              <label for="simple-input" class="ebLabel" l10nTranslate>{{'TEXT_DISPLAY_NAME'}}</label>
              <div class="input-group col-xs-12 col-sm-12">
                <input id="initFocus" type="text" maxlength="255" tabindex="1" class="ebInput" name="piDisplayName" formControlName="itemInstanceDisplayName" [ngClass]="{'ecb-fieldEmptyValidator': (PIPropertiesForm.controls.itemInstanceDisplayName.hasError('required') && PIPropertiesForm.controls.itemInstanceDisplayName.touched) }" (keydown)="disableSpace($event)" (focusout)="removeSpace()" autofocus/>
                <span class="input-group-required"></span>
              </div>
              <div *ngIf="PIPropertiesForm.controls.itemInstanceDisplayName.hasError('required') && PIPropertiesForm.controls.itemInstanceDisplayName.touched"
                class="ebInputError">
                <span class="statusError"></span>
                <span l10nTranslate>{{'TEXT_DISPLAYNAME_REQUIRED'}}</span>
              </div>
            </div>
            <div class="form-group">
              <label for="simple-input" class="ebLabel" l10nTranslate>{{'TEXT_DESCRIPTION'}}</label>
              <div class="input-group col-xs-12 col-sm-12">
                <textarea class="form-control ecbTextArea" type="text" #textArea [ngClass]="autoGrow()" tabindex="3" maxlength="4000" name="piDescription" formControlName="itemInstanceDescription"></textarea>
              </div>
            </div>
            <div class="form-group" *ngIf="isPItemplate">
              <label for="simple-input" class="ebLabel" l10nTranslate>{{'TYPE_DISPLAY_NAME'}}</label>
              <div class="input-group col-xs-12 col-sm-12">
                <div type="text" class="ebInput" readonly="readonly" l10nTranslate>{{viewPriceableItem?.typeDisplayName}}</div>
              </div>
            </div>
            <div class="form-group" *ngIf="viewPriceableItem?.kindType =='NON_RECURRING'">
              <label for="radiobutton" class="ebLabel" l10nTranslate>{{'TEXT_APPLY_CHARGE_AT_SUBSCRIPTION'}}</label>
              <div class="ebRadioBtn">
                <label>
                  <input type="radio" tabindex="5" (click)="onRadioButtonClick()" name="eventType" [value]='1' [checked]="viewPriceableItem?.eventType === 1" formControlName="eventType" disabled="disabled">
                  <div class="text" l10nTranslate>{{'TEXT_ACTIVATION'}}</div>
                </label>
                <label>
                  <input type="radio" tabindex="6" (click)="onRadioButtonClick()" name="eventType" [value]='2' [checked]="viewPriceableItem?.eventType === 2" formControlName="eventType" disabled="disabled">
                  <div class="text" l10nTranslate>{{'TEXT_TERMINATION'}}</div>
                </label>
              </div>
            </div>
          </form>   
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="input-group ecb-sidebarFooter">
                    <input type="text"  class="ebInput" placeholder="" readonly>  
                    <span class="ecb-requriedIndicator" l10nTranslate> {{'TEXT_REQUIRED_FIELD'}} </span> <span class="input-group-required"> </span> 
                  </div>
            </div>
          </div>     
        </div>
      </div>
    </div>
  </ngx-aside>
    <div class="panel panel-default">
    <div class="panel-heading ecb-panelHeading">
        <div *ngIf="Props_Edit" class="ecb-panelHeaderLink">
            <a title="{{editTooltip}}" (click)="displayEditPanel(PIProperties)" l10nTranslate>{{'TEXT_EDIT'}}</a>
          </div>
        <h2 class="ecb-priceableItemText" l10nTranslate>{{'TEXT_PROPERTIES'}}</h2>    
    </div>
    <div class="panel-body">
      <ecb-loader *ngIf="showLoader" mode="dot" fill="widget"></ecb-loader>
      <div *ngIf="viewPriceableItem">
        <form>
          <div class="form-group" *ngIf="PIType == 'Usage'">
            <div class="input-group col-xs-12 col-sm-12">
            <label for="simple-input" class="ebLabel" l10nTranslate>{{'TEXT_PRICEABLE_INSTANCE_ID'}}</label>
            <div class="ecb-inputReadOnly">
              <div>{{viewPriceableItem?.itemInstanceId}}</div>
            </div>
          </div>
          </div>
          <div class="form-group">
            <div class="input-group col-xs-12 col-sm-12">
              <label for="simple-input" class="ebLabel" l10nTranslate>{{'TEXT_NAME'}}</label>
              <div class="ecb-inputReadOnly">
                  <div class="ecb-wordbreak" [ngClass]="{'ecb-wordBreakAll': isNoBreakString(viewPriceableItem?.name)}">{{viewPriceableItem?.name}}</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="simple-input" class="ebLabel" l10nTranslate>{{'TEXT_DISPLAY_NAME'}}</label>
            <div class="input-group col-xs-12 col-sm-12 ecb-inputReadOnly">
              <div class="ecb-wordbreak" [ngClass]="{'ecb-wordBreakAll': isNoBreakString(viewPriceableItem?.displayName)}">{{viewPriceableItem?.displayName}}</div>
            </div>
          </div>
          <div class="form-group">
            <label for="simple-input" class="ebLabel" l10nTranslate>{{'TEXT_DESCRIPTION'}}</label>
            <div class="input-group col-xs-12 col-sm-12 ecb-inputReadOnly">
              <div class="ecb-wordbreak" [ngClass]="{'ecb-wordBreakAll': isNoBreakString(viewPriceableItem?.description)}">{{viewPriceableItem?.description}}</div>
            </div>
          </div>
          <div class="form-group" *ngIf="isPItemplate">
            <label for="simple-input" class="ebLabel" l10nTranslate>{{'TYPE_DISPLAY_NAME'}}</label>
            <div class="input-group col-xs-12 col-sm-12 ecb-inputReadOnly">
              <div class="ecb-wordbreak" [ngClass]="{'ecb-wordBreakAll': isNoBreakString(viewPriceableItem?.typeDisplayName)}">{{viewPriceableItem?.typeDisplayName}}</div>
            </div>
          </div>
          <div class="form-group" *ngIf="PIType == 'One Time' || viewPriceableItem?.kindType =='NON_RECURRING'">
            <label for="radiobutton" class="ebLabel" l10nTranslate>{{'TEXT_APPLY_CHARGE_AT_SUBSCRIPTION'}}</label>
            <div class="ebRadioBtn">
              <label>
                        <input type="radio" [ngClass]="{'readonly-radio':viewPriceableItem?.eventType == 1}" name="eventType" [checked]="viewPriceableItem?.eventType == 1"
                          [disabled]="viewPriceableItem?.eventType == 2">
                        <div class="readonly" l10nTranslate *ngIf="viewPriceableItem?.eventType == 1">
                          <em class="fa fa-check-circle"></em>{{'TEXT_ACTIVATION'}}</div>
                        <div class="text" *ngIf="viewPriceableItem?.eventType == 2" l10nTranslate>{{'TEXT_ACTIVATION'}}</div>
                      </label>
              <label>
                        <input type="radio" [ngClass]="{'readonly-radio':viewPriceableItem?.eventType == 2}" name="eventType" [checked]="viewPriceableItem?.eventType == 2"
                          [disabled]="viewPriceableItem?.eventType == 1">
                        <div class="readonly" l10nTranslate *ngIf="viewPriceableItem?.eventType == 2">
                          <em class="fa fa-check-circle"></em>{{'TEXT_TERMINATION'}}
                        </div>
                        <div class="text" *ngIf="viewPriceableItem?.eventType == 1" l10nTranslate>{{'TEXT_TERMINATION'}}</div>
                      </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  <ecb-modal-dialog [open]="confirmDialog == 1" (onClose)="onModalDialogCloseCancel($event)" [closeOnEscape]="false">
    <dialog-header l10nTranslate>{{'TEXT_CANCELING_DISCARD_UNSAVED_EDITS'}}</dialog-header>
    <dialog-body l10nTranslate>{{'TEXT_CANCELING_WITHOUT_SAVING_DISCARDS_EDITS'}}</dialog-body>
  </ecb-modal-dialog>
  <div class="ecb-modelBG" [ngClass]="{'ecb-showModelBG':showCover}">
  </div>